/* App.css */

:root{
  /* COLORS */
  --textColor:rgb(200, 200, 200);
  --backgroudColor: rgb(30,30,30);

  background-color: var(--backgroudColor);
  color: var(--textColor);
}

.App {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.asciiImage{
  font-size: 8px;
}
#photoView{
  max-width: 30rem;
  max-height: 30rem;
}
.hidden{
  display: none;
}